streamlit
langchain
langchain-community
langchain-huggingface
PyPDF2
pypdf
faiss-cpu
sentence-transformers
huggingface_hub
transformers
torch
numpy
pandas
plotly
scikit-learn
nltk
bert-score
evaluate
rouge-score
sacrebleu
